header {
    margin: 80px 0 40px 0;
}

.logo {
    padding-top: 60px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 32px;
}


.logo__icon {
    width: 80px;
    height: 80px;
}

.logo__title {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 7px;
}

.logo__title span {
    color: #764FF7;
}

.logo p {
    text-align: center;
    font-size: 24px;
}


// ________________ logo