<router-outlet></router-outlet>

<app-header></app-header>

<main>
  <!-- container -->
  <div class="container">
    <!-- main title -->
    <h2 class="main__title">Your Tasks</h2>
    <!-- search wrapper -->
    <div class="search__wrapper">
      <!-- search inner wrapper -->
      <div class="search__inner-wrapper">
        <!-- search -->
        <div class="search">
          <img src="assets/icons/Vector.png" alt="" class="search__icon">
          <input type="text" [(ngModel)]="search" placeholder="Search tasks">
        </div>
        <button (click)="doSearch()" class="search__btn"><img src="assets/icons/Vector.png" alt=""></button>
      </div>
    </div>
    <!-- Labels -->
    <div class="lebel__wrapper">
      <label>Total tasks: <span>{{ filteredNotes.length }}</span></label>
      <label>Completed: <span>{{ completedFiltered }} / {{ filteredNotes.length }}</span></label>
    </div>
    <!-- <hr> -->
    <div class="line"></div>
    <!-- Заметки -->

    @if(!filteredNotes.length && searchQuery) {
    <div class="search__result">
      <p>Not found</p>
    </div>
    }

    @if (!notes().length){
    <div class="addNotes__wrapper">
      <div class="addNotes__img">
        <p>+</p>
      </div>
      <div class="addNotes__desc">
        <p>You have no pending tasks.
          <br>Create one to get started.
        </p>
      </div>
    </div>
    }
    @if (notes().length) {
    <div class="notes__list-wrapper">
      <ul class="notes__list">
        <li *ngFor="let note of filteredNotes" class="note" [class.note__checked]="note.completed">
          <input class="check" type="checkbox" [checked]="note.completed" (change)="toggleCompleted(note.id)" />
          <strong>{{ note.content }}</strong>
          <small class="data__notes">{{ note.createdAt | date: 'd MMMM' }}</small>
          <button class="delete__btn" (click)="deleteNote(note.id)">x</button>
        </li>
      </ul>
    </div>
    }

    <div class="add__wrapper">
      <button class="add__btn" (click)="openModal()">+</button>
    </div>
  </div>
</main>

<app-modal></app-modal>