/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body {
    background-color: #121215;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}


input {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border-color: transparent;
}